<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TaskIncidencias.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
	  <add key="user" value="soporte.msi8" />
	  <add key="password" value="12" />
	  <add key="Proveedor" value="SOFTTEK" />
	  <add key="UrlCliente" value="http://172.16.162.38/services/ARService" />
	  <add key="usernameInvgate" value="remedy-imss" />
	  <add key="passwordInvgate" value="TndbhizYaot15zCfNqbaoon9" />
	  <add key="UrlInvgate" value="https://servicio.grupopm.mx/api/v1" />
	  <add key="RutaApiAttachments" value="http://10.0.0.6:8080/ServiceDesk" />
	  <add key="UrlServiceControl" value="http://10.0.0.6:8080/ControlesSolicitudes" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <TaskIncidencias.Properties.Settings>
      <setting name="TaskIncidencias_WS_Remedy_MesaIMSS" serializeAs="String">
        <value>http://34.135.21.126/ConnRemedy.asmx</value>
      </setting>
    </TaskIncidencias.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="InterEntities" connectionString="metadata=res://*/DBInter.csdl|res://*/DBInter.ssdl|res://*/DBInter.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GOO-PM-PR01;initial catalog=InterRemedyInvgate;persist security info=True;user id=jmimss;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>